<div class="row">
  <div class="col-md-5">
    <form id="rateForm" class="form-inline">
      <div class="form-group">
        <label class="" for="rateAmount">Тариф:</label>
        <div class="input-group col-md-8">
          <input id="rateAmount" type="text" class="form-control" readonly>
          <div class="input-group-addon">Руб.</div>
        </div>
      </div>
      <button id="setRate" type="button" class="btn btn-primary sr-only">Установить</button>
    </form>
  </div>
</div>
<br>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">Расчетный период</div>
      <div class="panel-body">
        <form id="rateForm" class="form-horizontal">
          <div class="form-group">
            <label for="year" class="control-label col-md-3">Год:</label>
            <div class="col-md-2">
              <select id="year" class="form-control"></select>
            </div>
          </div>
          <div class="form-group">
            <label for="month" class="control-label col-md-3">Месяц:</label>
            <div class="col-md-2">
              <select id="month" class="form-control"></select>
            </div>
          </div>
          <div class="form-group">
            <label class="control-label col-md-3" for="volume">Потреблено за пероид:</label>
            <div class="col-md-2">
              <div class="input-group">
                <input id="volume" type="text" class="form-control">
                <div class="input-group-addon">М<sup>3</sup></div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-md-offset-3 col-md-9">
            <button id="updateVolume" type="button" class="btn btn-primary">Сохранить</button>
          </div>
        </form>
      </div>
      <table id="waterUsers" class="table table-hover">
        <thead>
          <tr>
            <th>Потребитель</th>
            <th>Номер участка</th>
            <th>Размер участка</th>
            <th>Долг за период</th>
            <th>Оплачено</th>
          </tr>
        </thead>
        <tbody>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script src="js/showPeriods.js"></script>
